  /* reset */

* {
    margin: 0;
    padding: 0;

}
    /* box encompassing all*/
.box {
    width: 52rem;
    height: 41.25rem;
    flex-shrink: 0;
    border: 1px solid black;
    margin: 4rem auto;
}
    /* session title */
.header {
    width: 52rem;
    height: 4.25rem;
    flex-shrink: 0;
    border: 1px solid black;
    background: #c4c4c4;
}
    title
h1 {
    color: #000;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*  style box where the sent and edited message will appear */
.message_text {
    width: 48.5625rem;
    height: 6.875rem;
    overflow: auto;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #fafafa;
    margin: 1rem 1rem 0rem ;
}

.message_buttons {
    text-align: end;
    margin-right: 2.3rem;
}

#btn_edit {
    width: 2.9375rem;
    height: 1.625rem;
    flex-shrink: 0;
    background: #F6A75D;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn_delete {
    width: 3.25rem;
    height: 1.625rem;
    flex-shrink: 0;
    background: #F65D5D;   
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
    /* style box to write and send the message */
.box_area {
    width: 38.0625rem;
    height: 10.625rem;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #C4C4C4;
    position: relative;
    top: 16.5rem;
    left: 6rem;
    
}
    /* style write and send the message */
.are_message {
    display: flex;
    margin: 0.5rem;
}


#send-button {
    width: 4.9375rem;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #06C;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1rem;
}